# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env/
.venv/
env/
venv/
ENV/

# Config éditeurs
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Sorties du projet
labyrinth/*.txt
labyrinth/*.jpg
labyrinth/solutions_astar/*.jpg
labyrinth/solutions_backtracking/*.jpg
labyrinth/solutions_astar/*.txt
labyrinth/solutions_backtracking/*.txt
labyrinth/generated_maze/*.txt
labyrinth/generated_maze/*.jpg
*.log

# Cache
*.cache
